n8n/worker.json
{
  "name": "Agent Office — Worker (template)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "worker",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "worker-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "agent",    "value": "={{ $json.body.agent }}" },
            { "name": "status",   "value": "working" },
            { "name": "task",     "value": "={{ $json.body.task.slice(0, 80) }}" },
            { "name": "progress", "value": 30 }
          ]
        },
        "options": {}
      },
      "id": "w2",
      "name": "Notify Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "jsCode": "// Build prompt from task + context + previous results\nconst body = $('Webhook').item.json.body;\nconst parts = [body.task];\nif (body.context) parts.push('\\nКонтекст: ' + body.context);\nif (body.prev_results && body.prev_results.length) {\n  const prev = body.prev_results\n    .map(r => `[${r.agent}]:\\n${r.result.slice(0, 800)}`)\n    .join('\\n\\n');\n  parts.push('\\n\\nРезультаты предыдущих агентов:\\n' + prev);\n}\nreturn [{ json: { prompt: parts.join('\\n'), agent: body.agent } }];"
      },
      "id": "w3",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "messages": {
          "messageValues": [
            { "content": "={{ $json.prompt }}" }
          ]
        },
        "options": {
          "systemMessage": "Ты — полезный ИИ-агент. Выполняй задачу качественно и по существу. Отвечай по-русски если не указано иное.",
          "maxTokens": 2048
        }
      },
      "id": "w4",
      "name": "AI Agent (LLM)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [720, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.callback_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "agent",    "value": "={{ $('Webhook').item.json.body.agent }}" },
            { "name": "status",   "value": "done" },
            { "name": "task",     "value": "Задача выполнена" },
            { "name": "progress", "value": 100 },
            { "name": "message",  "value": "={{ $json.text || $json.content || 'Задача выполнена.' }}" }
          ]
        },
        "options": {}
      },
      "id": "w5",
      "name": "Notify Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"agent\": \"{{ $('Webhook').item.json.body.agent }}\",\n  \"result\": {{ JSON.stringify($('AI Agent (LLM)').item.json.text || $('AI Agent (LLM)').item.json.content || 'Задача выполнена.') }}\n}"
      },
      "id": "w6",
      "name": "Respond with Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 0]
    }
  ],
  "connections": {
    "Webhook":        { "main": [[{ "node": "Notify Working", "type": "main", "index": 0 }]] },
    "Notify Working": { "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]] },
    "Build Prompt":   { "main": [[{ "node": "AI Agent (LLM)", "type": "main", "index": 0 }]] },
    "AI Agent (LLM)": { "main": [[{ "node": "Notify Done", "type": "main", "index": 0 }]] },
    "Notify Done":    { "main": [[{ "node": "Respond with Result", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["agent-office"],
  "_comment": "Duplicate this workflow for each agent (researcher, writer, coder, analyst). Change the Webhook path and the system prompt in 'AI Agent (LLM)' accordingly. For researcher, add web search tool to the AI node."
}
